
<!--
TODO: see if theres a way to do block content for this beginning part
that way it doesnt have to be initialized everytime when its already in
base_books.html.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0"> 
    <title>Book List</title>
</head>
<body>

<h1>Book List</h1>
<!--merging names from score list in class example to my book list-->
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<table>
    <tr><th>Name</th> <th>Number</th> <th>Action</th></tr>
    {% for score in scores %}
    <tr>
        <td>{{ score.name }}</td> <td>{{ score.value }}</td>
        <td>
            <a href="{% url 'edit_score' score.id %}">Edit</a>
            <a href="{% url 'delete_score' score.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table></body></html>