{% extends "base_books.html" %} 
{% load static %}
{% block title %}Home{% endblock %} 
{% block content %} 

<div class="text-center">
    <h1>Welcome to my Book App</h1>
    <p>Manage your collection, edit entries, and explore your library with ease.</p>
</div>
<div class="card shadow-lg text-center" style="max-width: 500px; margin: auto;">
<div class="card-body">
    
    <h3>What is it for?</h3>
    <p>This application is for you to keep track of books you have read.</p>
    <p>Add as many books as you would like!</p> 
    <p>Click below to get started:</p> 
    <a href="{% url 'library_view' %}" class="btn btn-primary">Go to Book List</a>
</div>
</div>




<!-- Reference JavaScript files -->
<script src="{% static '/js/bootstrap.min.js' %}"></script> 

{% endblock %}