{% extends 'base_books.html' %}
{% load static %}
{% block title %}Add Book{% endblock %}
{% block content %}
<h3 class="text-primary">Search Books</h3>

<div class="container bg-light p-4 rounded">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title"
            name="title" value="{{ title_query }}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" id="author"
            name="author" value="{{ author_query }}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre:</label>
            <select id="genre" name="genre" class="form-select">
                <option value="">All Genres</option>
                <option value="FIC" {% if genre_query == "FIC" %}selected{% endif %}>Fiction</option>
                <option value="NF" {% if genre_query == "NF" %}selected{% endif %}>Non-Fiction</option>
                <option value="SCI" {% if genre_query == "SCI" %}selected{% endif %}>Science Fiction</option>
                <option value="FAN" {% if genre_query == "FAN" %}selected{% endif %}>Fantasy</option>
                <option value="MYS" {% if genre_query == "MYS" %}selected{% endif %}>Mystery</option>
                <option value="HOR" {% if genre_query == "HOR" %}selected{% endif %}>Horror/Thriller</option>
                <option value="ROM" {% if genre_query == "ROM" %}selected{% endif %}>Romance</option>
                <option value="AAA" {% if genre_query == "AAA" %}selected{% endif %}>Action & Adventure</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search Books</button>
    </form>
 </div>

 {% if books %}
    <div>
    <h2 class="text-success">Search Results</h2>
    <p>Query: {{ title_query }} {{ author_query }}</p>
    <table class="table table-bordered">
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }} - {{ book.title }} by {{ book.author }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
<!-- below displays only 10 results per page and allows navagation per pages-->
    <nav>
        <ul class="pagination justify-content-center">
            {% if books.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1&name={{ title_query }}&author={{ author_query }}" >First</a > </li>
                <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}& title={{ title_query }}& author={{ author_query }}" >Previous</a ></li>
            {% endif %}
            <li class="page-item active"><span class="page-link"> Page {{ books.number }} of {{ books.paginator.num_pages }} </span></li>
            {% if books.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}&title={{ title_query }}&author={{ author_query }}" >Next</a ></li>
                <li class="page-item"><a class="page-link" href="?page={{ books.paginator.num_pages }}&title={{ title_query }}&author={{ author_query }}" >Last</a ></li>
            {% endif %}
        </ul>
    </nav> 
 {% endif %}


<!-- Reference JavaScript files -->
<script src="{% static '/js/bootstrap.min.js' %}"></script> 

{% endblock %}